<?xml version="1.0" encoding="utf-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.Handi.Crafts"
        xmlns:gap="http://phonegap.com/ns/1.0"
        version="1.0"
        versionCode="1">

  <name>HandiCrafts</name>

  <description>

  </description>

  <author email="sayhi2shalin@gmail.com">
    Shalin Kumar
  </author>
  <access origin=".*" />

  <preference name="target-device" value="tablet" />
  <preference name="fullscreen" value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="prerendered-icon" value="false" />

  <preference name="StatusBarOverlaysWebView" value="true" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="StatusBarStyle" value="darkcontent" />
  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:plugin name="org.apache.cordova.dialogs" />


  <gap:plugin name="com.kumbe.phonegap.zoom.zoomcontrol" version="0.1.7" />

  <gap:plugin name="org.apache.cordova.file" />
  <gap:plugin name="org.apache.cordova.file-transfer" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="net.tunts.webintent" version="0.2.1" />
  <gap:plugin name="net.bgta.phonegap.plugin.appversion" version="1.1.1" />
  
 
  
  <content src="index.html" />
  <access origin="*" />

  <gap:platform name="ios" />
  <gap:platform name="android" />
 
</widget>