<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="left">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>
                <span>Side Panel</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                <md-tooltip>Close Side Panel</md-tooltip>
                <md-icon class="md-default-theme material-icons">&#xE5CD;</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding="">
        <md-list>
            <md-subheader class="md-no-sticky">Templates</md-subheader>
            <md-list-item>
                <md-button class="md-primary" ng-href="#/View/TemplateCreation">Create New</md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary" ng-href="#/View/Extrapage">Sub Menu 2</md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary" ng-href="#/View/Extrapage">Sub Menu 3</md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary" ng-href="#/View/Extrapage">Sub Menu 4</md-button>
            </md-list-item>
            <md-list-item>
                <md-button class="md-primary" ng-href="#/View/Extrapage">Sub Menu 5</md-button>
            </md-list-item>
            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">Menu 2</md-subheader>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 1</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 2</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme">&#xE7F9;</md-icon>
                <p>Sub Menu 3</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 4</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 5</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Menu 3</md-subheader>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 1</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme">&#xE7F9;</md-icon>
                <p>Sub Menu 2</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 3</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 4</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Menu 4</md-subheader>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 1</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 2</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 3</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 4</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 5</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 6</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 7</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 8</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 9</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE7F9;</md-icon>
                <p>Sub Menu 10</p>
                <div class="md-secondary">2</div>
            </md-list-item>
            <md-list-item>
                <md-icon class="md-default-theme material-icons">&#xE1BC;</md-icon>
                <p>Sub Menu 11</p>
                <div class="md-secondary">20+</div>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>


