<div id="ExtraPage" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Key Blanks</a></li>
        <li class="active">Automotive</li>
    </ul>
    <h3>Item Page 1</h3>
    <div class="itemslist">
        <h5>Products (Total Items: 228)</h5>
        <span class="sorting">
            <select class="form-control">
                <option value="one">Price: Low to High</option>
                <option value="two">Price: High to Low</option>
                <option value="three">Name</option>
                <option value="four">Newest</option>
                <option value="five">Avg Review</option>
                <option value="five">Review Count</option>
                <option value="five">Free Shipping</option>
                <option value="five">On Sale</option>
            </select>
        </span>
    </div>
    <div class="pageresult">
        <ul class="pagination pagination-sm">
            <li>
                 <md-button class="md-primary" ng-href="">more result:</md-button>             
            </li>
            <li>
                  <md-button class="md-primary" ng-href="">previous page</md-button>             
            </li>
         <!--   <li> <md-button class="md-primary" ng-href="">1</md-button></li>
            <li> <md-button class="md-primary" ng-href="">2</md-button></li>
            <li> <md-button class="md-primary" ng-href="">3</md-button></li>
            <li> <md-button class="md-primary" ng-href="">4</md-button></li>
            <li> <md-button class="md-primary" ng-href="">5</md-button></li>-->
            <li>
                  <md-button class="md-primary" ng-href="">next page</md-button>             
            </li>
            <li>
                  <md-button class="md-primary" ng-href="">view all</md-button>           
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
            <div class="pricetag elements">
                <a href="">
                    <img class="img-responsive" src="../img/handicraftThree.jpg" alt="">
                </a>
                <p><a href="">B84</a></p>
                <div class="stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>0 Review(s)</span>
                </div>
                <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">
                      <span class="ng-scope">Add to Cart</span>                  
                      <div class="md-ripple-container" style=""></div>
                 </md-button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
            <div class="pricetag elements">
                <a href="">
                    <img class="img-responsive" src="../img/handicraftThree.jpg" alt="">
                </a>
                <p><a href="">B84</a></p>
                <div class="stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>0 Review(s)</span>
                </div>
                <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">
                      <span class="ng-scope">Add to Cart</span>                  
                      <div class="md-ripple-container" style=""></div>
                 </md-button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
            <div class="pricetag elements">
                <a href="">
                    <img class="img-responsive" src="../img/handicraftThree.jpg" alt="">
                </a>
                <p><a href="">B84</a></p>
                <div class="stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>0 Review(s)</span>
                </div>
                <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">
                      <span class="ng-scope">Add to Cart</span>                  
                      <div class="md-ripple-container" style=""></div>
                 </md-button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
            <div class="pricetag elements">
                <a href="">
                    <img class="img-responsive" src="../img/handicraftThree.jpg" alt="">
                </a>
                <p><a href="">B84</a></p>
                <div class="stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>0 Review(s)</span>
                </div>
                <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">
                      <span class="ng-scope">Add to Cart</span>                  
                      <div class="md-ripple-container" style=""></div>
                 </md-button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
            <div class="pricetag elements">
                <a href="">
                    <img class="img-responsive" src="../img/handicraftThree.jpg" alt="">
                </a>
                <p><a href="">B84</a></p>
                <div class="stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>0 Review(s)</span>
                </div>
                <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">
                      <span class="ng-scope">Add to Cart</span>                  
                      <div class="md-ripple-container" style=""></div>
                 </md-button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
            <div class="pricetag elements">
                <a href="">
                    <img class="img-responsive" src="../img/handicraftThree.jpg" alt="">
                </a>
                <p><a href="">B84</a></p>
                <div class="stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>0 Review(s)</span>
                </div>
                <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">
                      <span class="ng-scope">Add to Cart</span>                  
                      <div class="md-ripple-container" style=""></div>
                 </md-button>
            </div>
        </div>
    </div>
    <div class="pageresult">
        <ul class="pagination pagination-sm">
           <li><md-button class="md-primary" ng-href="">more result:</md-button></li>
            <li><md-button class="md-primary" ng-href="">previous page</md-button></li>
         <!--   <li> <md-button class="md-primary" ng-href="">1</md-button></li>
            <li> <md-button class="md-primary" ng-href="">2</md-button></li>
            <li> <md-button class="md-primary" ng-href="">3</md-button></li>
            <li> <md-button class="md-primary" ng-href="">4</md-button></li>
            <li> <md-button class="md-primary" ng-href="">5</md-button></li>-->
            <li><md-button class="md-primary" ng-href="">next page</md-button></li>
            <li><md-button class="md-primary" ng-href="">view all</md-button> </li>
        </ul>
    </div>
</div>
