<div id="Listing">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Key Accessories</a></li>
        <li class="active">Key Hiders</li>
    </ul>
    <h3>00919: SPRINKLER KEY HIDER</h3>
    <div class="itemslist">
        <p>Part Number 00919: SPRINKLER KEY HIDER</p>
        <span class="reviews">
            <div class="stars">
                <a href=""><i class="fa fa-star-o"></i></a>
                <a href=""><i class="fa fa-star-o"></i></a>
                <a href=""><i class="fa fa-star-o"></i></a>
                <a href=""><i class="fa fa-star-o"></i></a>
                <a href=""><i class="fa fa-star-o"></i></a>
                <span>0 Review(s)</span>
            </div>
        </span>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="itemszoom">
                <div class="zoom-effect-container">
                    <div class="image-card">
                        <a href="">
                            <img src="../img/handicraftThree.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="mailreview">
                    <span class="emailfri">
                        <i class="fa fa-envelope"></i>
                        <md-button class="md-primary" ng-href="">Email a Friend</md-button>
                    </span>
                    <span class="emailstr">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <md-button class="md-primary" ng-href="">Review this item</md-button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h5>Price</h5>
            <div class="pricesocial">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="priceview">
                            <p>Your Price: <span>$12.00</span></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="socialicn">
                            <div class="icns-list">
                                <a href="">
                                    <img src="../img/icons/fb.jpg" alt="FaceBook" />
                                </a>
                                <a href="">
                                    <img src="../img/icons/twi.jpg" alt="Twitter"></a>
                                <a href="">
                                    <img src="../img/icons/email.jpg" alt=""></a>
                                <a href="">
                                    <img src="../img/icons/print.jpg" alt=""></a>
                                <a href="">
                                    <img src="../img/icons/plus.jpg" alt=""></a>
                                <a href="">
                                    <img src="../img/icons/ratting.jpg" alt=""></a>
                            </div>
                            <div class="icns-list">
                                <a href="">
                                    <img src="../img/icons/fb-like.jpg" alt=""></a>
                                <a href="">
                                    <img src="../img/icons/fb-share.jpg" alt=""></a>
                                <a href="">
                                    <img src="../img/icons/rate-sm.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h5>Choose Options</h5>
            <div class="pricesocial">
                <div class="pricegroup">
                    <form role="form" class="form-horizontal">
                        <fieldset>
                            <div class="form-group center-align">
                                <label class="col-md-4 col-sm-4 col-xs-4 control-label">Price Group</label>
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <select>
                                        <option value="1">Price Group</option>
                                        <option value="2">5 Accessory @ 2.40 Each [+$12.00]</option>
                                        <option value="3">1 Accessory @ 3.50/Each [+$3.50]</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="priceqty">
                <div class="qtydesc">
                    <form role="form" class="form-horizontal">
                        <fieldset>
                            <div class="form-group center-align">
                                <label class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="0">
                                </div>
                                <span>
                                    <md-button ng-href="#/View/ViewCart" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">                                        
                                        <span class="ng-scope">Add to Cart</span>                  
                                        <div class="md-ripple-container" style=""></div>
                                    </md-button>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <div class="gifttray">
                <div class="giftctn">
                    <img src="../img/icons/gifticon.png" alt="">
                    
                    <md-button ng-href="" ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">                                                                
                        <span class="ng-scope">Add to Gift Registry</span>                  
                        <div class="md-ripple-container" style=""></div>
                    </md-button>                 
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h5>Description</h5>
            <div class="pricesocial">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="desctag">
                            <p>-This unique key hider looks like a regular sprinkler head-Unscrew to open and close tough water-tight plastic case-Holds multiple keys</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <h5>Related Items</h5>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <div class="pricetag elements" style="height: 373px;">
                        <a href="">
                            <img class="img-responsive" src="../img/handicraftThree.jpg" alt=""></a>
                        <p><a href="">00919: SPRINKLER KEY HIDER</a></p>
                        <div class="stars">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span>0 Review(s)</span>
                        </div>
                        <p class="pricenum"><strong>Your Price: $719.00</strong></p>
                        <md-button ng-href="#/View/ViewCart"  ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">                            
                            <span class="ng-scope">Add to Cart</span>                  
                            <div class="md-ripple-container" style=""></div>
                        </md-button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <div class="pricetag elements" style="height: 373px;">
                        <a href="">
                            <img class="img-responsive" src="../img/handicraftThree.jpg" alt=""></a>
                        <p><a href="">00919: SPRINKLER KEY HIDER</a></p>
                        <div class="stars">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span>0 Review(s)</span>
                        </div>
                        <p class="pricenum"><strong>Your Price: $719.00</strong></p>
                        <md-button ng-href="#/View/ViewCart"  ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">                            
                            <span class="ng-scope">Add to Cart</span>                  
                            <div class="md-ripple-container" style=""></div>
                        </md-button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                    <div class="pricetag elements" style="height: 373px;">
                        <a href="">
                            <img class="img-responsive" src="../img/handicraftThree.jpg" alt=""></a>
                        <p><a href="">00919: SPRINKLER KEY HIDER</a></p>
                        <div class="stars">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span>0 Review(s)</span>
                        </div>
                        <p class="pricenum"><strong>Your Price: $719.00</strong></p>
                        <md-button ng-href="#/View/ViewCart"  ng-transclude="" type="button" class="md-raised md-warn md-button md-ink-ripple">                            
                            <span class="ng-scope">Add to Cart</span>                  
                            <div class="md-ripple-container" style=""></div>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
