<section id="thankyou" class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

    <h5 class="category-header" id="thankyouHeader">Thanks for the product you purchased</h5>
  <!--  <p>
        <div>[billing_firstname] [billing_lastname]</div>
        <div>[billing_address] [billing_address2]</div>
        <div>[billing_city], [billing_state]. [billing_zip] [billing_country]</div>
    </p>
    <p>
        <div><strong>Email:</strong> [email]</div>
        <div><strong>Password:</strong> [pass]</div>
    </p>
    <p>
        <div><strong>Company:</strong> [billing_company]</div>
        <div><strong>Tax id:</strong> [accountno]</div>
    </p>
    <p>
        <div><strong>Customer Group:</strong> [groupname]</div>
        <em>[description]</em>
        <div><strong>Minimum Order:</strong> [minimumorder]</div>
    </p>
    <p>
        <strong>Comments:</strong> [comments]      
    </p>
    <div class="clear"></div>
    <div class="category-footer" id="thankyouFooter">[CONTENT]</div>-->
</section>
